/* Welcome screen properties */

body {
  overflow: visible;
  overflow-y: scroll;
}

.heading {
	position:fixed;
  /* top: 20%; */
  left: 30%;
  width:26em;
  height:1em;
  margin-top: 100px; /*set to a negative number 1/2 of your height*/
  margin-left: -8em; /*set to a negative number 1/2 of your width*/
	font-size: 2em;
	/*border: 2px solid #6495ed;*/
	text-align: center;
}

.explanation {
	position:fixed;
  /* top: 60%; */
  left: 30%;
  width:36em;
  margin-top: 400px; /*set to a negative number 1/2 of your height*/
  margin-left: -8em; /*set to a negative number 1/2 of your width*/
	font-size: 1em;
	/*border: 2px solid #6495ed;*/
	text-align: center;
}

/* Test screen properties */

.testScreen {
  float: left;
}

.testTitle {
  position:relative;
  top: 0%;
  left: 30%;
  width:26em;
  height:4em;
  margin-top: -0.5em; /*set to a negative number 1/2 of your height*/
  margin-left: -8em; /*set to a negative number 1/2 of your width*/
	font-size: 24px;
	/*border: 2px solid #6495ed;*/
	text-align: center;
}


.refImage {
	position:fixed;
	background: url("");
  top: 10%;
  left: 0%;
	opacity: 1;
  width:100%;
  height:100%;
  margin-top: 10;
  margin-left: 10
}


.compImage {
	position:fixed;
	background: url("");
  top: 10%;
  left: 25%;
	opacity: 1;
  width:100%;
  height:100%;
  margin-top: 10;
  margin-left: 10
}


.question {
	position:fixed;
  /* top: 90%; */
  left: 10%;
  margin-top: 600px; /*set to a negative number 1/2 of your height*/
  margin-left: -8em; /*set to a negative number 1/2 of your width*/
  font-size: 24px;
	/*border: 2px solid #6495ed;*/
}

/* The container for warning message */
.warning {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  left: 0%;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgb(153, 34, 25);
}
/* The container for image tag */
.warning2 {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  left: 0%;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgb(0,0,0);
}

/* The container */
.container {
  /* display: block; */
  float: left;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* left: 0%; */
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(26, 200, 213);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 top: 4px;
left: 4px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}
